.thirdSmall {
    transition: 600ms cubic-bezier(.04, .48, .47, .96);
}

.cards-container:hover .thirdSmall {
    transform: translate(230%, -100%) rotate(-10deg);
    transition: 600ms cubic-bezier(.04, .48, .47, .96);
}

.cards-container[statusone] > .thirdSmall {
    background-image: url('../../../images/small-cards/sebastiaan-stam-5hBREM-5mnQ-unsplash.jpg');
    background-size: cover;
}

.cards-container[statustwo] >.thirdSmall {
    background-image: url('../../../images/small-cards/shark-ovski-jZ9TPXjoZQk-unsplash.jpg');
    background-size: cover;
}

.cards-container[statusthree] >.thirdSmall {
    background-image: url('../../../images/small-cards/victor-freitas-qZ-U9z4TQ6A-unsplash.jpg');
    background-size: cover;
}