.firstSmall {
    transition: 600ms cubic-bezier(.04, .48, .47, .96);
}

.cards-container:hover .firstSmall {
    transform: translate(-140%, 280%) rotate(-10deg); 
    transition: 600ms cubic-bezier(.04, .48, .47, .96);
}

.cards-container[statusone] > .firstSmall {
    background-image: url('../../../images/small-cards/aceofnet-wePe5kucoHA-unsplash.jpg');
    background-size: cover;
}

.cards-container[statustwo] >.firstSmall {
    background-image: url('../../../images/small-cards/ben-hershey-Zjcf_V3DPVI-unsplash.jpg');
    background-size: cover;
}

.cards-container[statusthree] >.firstSmall {
    background-image: url('../../../images/small-cards/garvit-3IyjBegTXLA-unsplash.jpg');
    background-size: cover;
}