.big-card {
    aspect-ratio: 5/7;
    width: 40vmin;
    border-radius: 1vmin;
    position: absolute;
    font-size: 15vmin;
    text-align: center;
    box-shadow: -1px -1px 10px 10px rgb(0, 0, 0, 0.5);
    background-color: rgb(245, 245, 220, 0.1);
    color: rgb(20, 0, 135);
}