.thirdBig {
    transform: translate(0%, 3%) rotate(-3deg);
    transition: 400ms ease-in-out;
}

.cards-container:hover .thirdBig {
    transform: translate(30%, 0%) rotate(5deg);
    transition: 400ms ease-in-out;
}

.cards-container[statusone] > .thirdBig {
    background-image: url('../../../images/big-cards/michael-dam-mEZ3PoFGs_k-unsplash.jpg');
    background-size: cover;
}

.cards-container[statustwo] >.thirdBig {
    background-image: url('../../../images/big-cards/philip-martin-5aGUyCW_PJw-unsplash.jpg');
    background-size: cover;
}

.cards-container[statusthree] >.thirdBig {
    background-image: url('../../../images/big-cards/stephanie-liverani-Zz5LQe-VSMY-unsplash.jpg');
    background-size: cover;
}