.fourthBig {
    transform: translate(2%, 0%) rotate(2deg);
    transition: 400ms ease-in-out;
}

.cards-container:hover .fourthBig {
    transform: translate(80%, 7%) rotate(15deg); 
    transition: 400ms ease-in-out;
}

.cards-container[statusone] > .fourthBig {
    background-image: url('../../../images/big-cards/toa-heftiba-O3ymvT7Wf9U-unsplash.jpg');
    background-size: cover;
}

.cards-container[statustwo] >.fourthBig {
    background-image: url('../../../images/big-cards/vince-fleming-j3lf-Jn6deo-unsplash.jpg');
    background-size: cover;
}

.cards-container[statusthree] >.fourthBig {
    background-image: url('../../../images/big-cards/daniel-lincoln-NR705beN_CU-unsplash.jpg');
    background-size: cover;
}