.secondBig {
    transform: translate(0%, -3%) rotate(2deg);
    transition: 400ms ease-in-out;
}

.cards-container:hover .secondBig {
    transform: translate(-30%, 0%) rotate(-5deg); 
    transition: 400ms ease-in-out;
}

.cards-container[statusone] > .secondBig {
    background-image: url('../../../images/big-cards/gian-cescon-00ByEXKcSkA-unsplash.jpg');
    background-size: cover;
}

.cards-container[statustwo] >.secondBig {
    background-image: url('../../../images/big-cards/huston-wilson-WyDr1KFS23Y-unsplash.jpg');
    background-size: cover;
}

.cards-container[statusthree] >.secondBig {
    background-image: url('../../../images/big-cards/matheus-ferrero-W7b3eDUb_2I-unsplash.jpg');
    background-size: cover;
}